<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>rimsgroup3</display-name>
  <description>rimsgroup3 web app</description>
  <resource-ref>
    <description>rimsgroup3 db connection</description>
    <res-ref-name>jdbc/rimsgroup3</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <resource-ref>
    <description>rimsgroup3 test db connection</description>
    <res-ref-name>jdbc/swctest</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <resource-ref>
    <description>rimsgroup3 datatest db connection</description>
    <res-ref-name>jdbc/datatest</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>FilterRedirector</filter-name>
    <filter-class>org.apache.cactus.server.FilterTestRedirector</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FilterRedirector</filter-name>
    <url-pattern>/FilterRedirector</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>ServletRedirector</servlet-name>
    <servlet-class>org.apache.cactus.server.ServletTestRedirector</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>JspRedirector</servlet-name>
    <jsp-file>/jspRedirector.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletRedirector</servlet-name>
    <url-pattern>/ServletRedirector</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>JspRedirector</servlet-name>
    <url-pattern>/JspRedirector</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoiRequest</display-name>
    <servlet-name>DoiRequest</servlet-name>
    <servlet-class>nz.ac.massey.rimsgroup3.servlet.DoiRequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoiRequest</servlet-name>
    <url-pattern>/DoiRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdvancedRequest</display-name>
    <servlet-name>AdvancedRequest</servlet-name>
    <servlet-class>nz.ac.massey.rimsgroup3.servlet.AdvancedRequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdvancedRequest</servlet-name>
    <url-pattern>/AdvancedRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AbstractText</display-name>
    <servlet-name>AbstractText</servlet-name>
    <servlet-class>nz.ac.massey.rimsgroup3.servlet.AbstractText</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AbstractText</servlet-name>
    <url-pattern>/AbstractText</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DXDoiRequest</display-name>
    <servlet-name>DXDoiRequest</servlet-name>
    <servlet-class>nz.ac.massey.rimsgroup3.servlet.DXDoiRequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DXDoiRequest</servlet-name>
    <url-pattern>/DXDoiRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CommitRequest</display-name>
    <servlet-name>CommitRequest</servlet-name>
    <servlet-class>nz.ac.massey.rimsgroup3.servlet.CommitRequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommitRequest</servlet-name>
    <url-pattern>/CommitRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AutoComplete</display-name>
    <servlet-name>AutoComplete</servlet-name>
    <servlet-class>nz.ac.massey.rimsgroup3.servlet.AutoComplete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AutoComplete</servlet-name>
    <url-pattern>/AutoComplete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DXDoirequest</display-name>
    <servlet-name>DXDoirequest</servlet-name>
    <servlet-class>nz.ac.massey.rimsgroup3.servlet.DXDoirequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DXDoirequest</servlet-name>
    <url-pattern>/DXDoirequest</url-pattern>
  </servlet-mapping>
</web-app>