@charset "utf-8";
/* CSS Document */
table{
	font-family:Arial, Helvetica, sans-serif;
	font-size:9pt;
}

h3{
	font-family:Arial, Helvetica, sans-serif;
	font-size:16pt;
	color:#FFF;
}
h2 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:14pt;
	color: #09F;
	text-align: left;
}
label{
	font-family:Arial, Helvetica, sans-serif;
	font-size:9pt;
}

div.results{
	background-color:#09F;
	border:thin;
	border-color:#000;
	border-style:solid;
	width:1180px;
	padding:10px;
	-moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:9pt;
	text-align:center;
}

div.firstSet{
	background-color:#FFF;
	border:4px;
	border-color:#06C;
	border-style:solid;
	width:1150px;
	padding:10px;
	margin-bottom:10px;
	-moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
}

div.secondSet{
	background-color:#FFF;
	border:4px;
	border-color:#06C;
	border-style:solid;
	width:1150px;
	padding:10px;
	height:auto;
	margin-bottom:10px;
	-moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
}

div.thirdSet{
	background-color:#FFF;
	border:4px;
	border-color:#06C;
	border-style:solid;
	width:1150px;
	padding:10px;
	height:330px;
	margin-bottom:10px;
	-moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
}


table.resultTable{
	padding:5px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:9pt;
}

.smallPage{
	background-color:#09F;
	border:thin;
	border-color:#000;
	border-style:solid;
	width:300px;
	padding:10px;
	-moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:9pt;
	text-align:center;
	
}

.innerIndex{
	background-color:#FFF;
	border:4px;
	border-color:#06C;
	border-style:solid;
	padding:10px;
	-moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
}

.smallLink {
	font-size: 10pt;	
}
.rightAligned {
    text-align: right;
}
.abstract {
    float: right;
}